
/*=====================
    General Styling
 =====================*/

body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    color: #3a3a3a;
}

a {
    text-decoration: none;
}

*  {
    box-sizing: border-box;
}

.section-title {
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 1.5em;
    text-transform: uppercase;
}

/*=====================
    Navigation Styles
======================*/

.main-nav{
    list-style: none;
    padding-inline-start: 0px;
    /* Had to overwrite User Agent Stylesheet to remove padding for deleted bullet points
     However, Adding in normalize.css also seemed to correct the issue. Leaving property to keep style accurate*/ 
}
.main-nav a {
	font-size: 1.25em;
	color: darkblue;
    text-transform: uppercase;
    text-align: center; 
    display: block;
    padding: 10px;
    background-color: white;
    margin: 10px;
}

.main-nav a:hover {
	color: #093a58;
}

.main-nav, .name a:visited {
    color: darkblue
}

.name {
    display: block;
    text-align: center;
    text-transform: uppercase;
}

/*===========================
Intro Banner Styling
============================*/

.banner{
    justify-content: center;
    text-align: center;
}

.banner p {
    line-height: 1.5em;
    font-size: 1.25em;
}

.profile-photo{
    margin: 0 auto;
    border-radius: 10px;
    max-width: 100%;
}

/*========================
    Profile Area Styling
=========================*/

.container {
    background-color: white;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.project{
    text-align: center;
    max-width: 90%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
}

.project img{
    margin: 0 auto;
    max-width: 100%;
}

.project-title{
    font-weight: 600;
}

.project-description{
    max-width: 80%;
    margin: 0 auto;
}
